Edward Biswas

In [2]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import scipy.stats as stats

%matplotlib inline

In [3]:
data = pd.read_csv('StockX-Data-Contest-2019-3.csv')

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99956 entries, 0 to 99955
Data columns (total 8 columns):
Order Date      99956 non-null object
Brand           99956 non-null object
Sneaker Name    99956 non-null object
Sale Price      99956 non-null object
Retail Price    99956 non-null object
Release Date    99956 non-null object
Shoe Size       99956 non-null float64
Buyer Region    99956 non-null object
dtypes: float64(1), object(7)
memory usage: 6.1+ MB

In [5]:
data.head()

,Order Date,Brand,Sneaker Name,Sale Price,Retail Price,Release Date,Shoe Size,Buyer Region
0,9/1/17,Yeezy,Adidas-Yeezy-Boost-350-Low-V2-Beluga,"$1,097",$220,9/24/16,11.0,California
1,9/1/17,Yeezy,Adidas-Yeezy-Boost-350-V2-Core-Black-Copper,$685,$220,11/23/16,11.0,California
2,9/1/17,Yeezy,Adidas-Yeezy-Boost-350-V2-Core-Black-Green,$690,$220,11/23/16,11.0,California
3,9/1/17,Yeezy,Adidas-Yeezy-Boost-350-V2-Core-Black-Red,"$1,075",$220,11/23/16,11.5,Kentucky
4,9/1/17,Yeezy,Adidas-Yeezy-Boost-350-V2-Core-Black-Red-2017,$828,$220,2/11/17,11.0,Rhode Island

In [6]:
# group_state = data.groupby('Buyer Region')

In [23]:
data['Sale Price'] = data['Sale Price'].astype(str))

SyntaxError: keyword can't be an expression (<ipython-input-23-5fc9d5441197>, line 2)

In [21]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99956 entries, 0 to 99955
Data columns (total 8 columns):
Order Date      99956 non-null object
Brand           99956 non-null object
Sneaker Name    99956 non-null object
Sale Price      99956 non-null object
Retail Price    99956 non-null object
Release Date    99956 non-null object
Shoe Size       99956 non-null float64
Buyer Region    99956 non-null object
dtypes: float64(1), object(7)
memory usage: 6.1+ MB